* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
}

img {
    width: 80%;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vertical {
    width: auto;
    height: 100vh;
}

#desktop {
    display: inline;
    color: white;
}

#tablet,
#mobile,
#print {
    display: none;
}

/* tablet */
@media (min-width: 670px) and (max-width: 1024px) {
    body {
        background: #BBDEF1;
    }

    #tablet {
        display: inline;
    }

    img {
        margin-top: 100px;
    }

    #desktop,
    #mobile,
    #print {
        display: none;
    }
}

/* mobile */
@media (max-width: 670px) {
    body {
        background: white;
    }

    #mobile {
        display: inline;
    }

    img {
        width: 40%;
        margin-top: 200px;
    }

    #desktop,
    #tablet,
    #print {
        display: none;
    }
}

/* print */
@media print {
    body {
        background: white;
    }

    #print {
        display: inline;
        color: black;
        font-family: 'Courier New', Courier, monospace;
        font-size: 24px;
    }

    #desktop,
    #tablet,
    #mobile {
        display: none;
    }
}