* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(255, 85, 179);
    font-size: 100px;
}

#question {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Monoton', cursive;
    font-size: 8vw;
    line-height: 1.1;
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
}

#answer {
    display: none;
}

/* hidden message */
@media (max-width: 600px) {
    body {
        background: rgb(66, 21, 0);
    }

    #answer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-family: 'Fugaz One', cursive;
        color: white;
        font-size: 15vw;
        line-height: 1.1;
        width: 100vw;
        height: 100vh;
    }

    #question {
        display: none;
    }
}